[submodule "web/themes/portio"]
	path = web/themes/portio
	url = git@github.com:vegan-buddies/web-portio-theme.git
[submodule "fluffychat"]
	path = fluffychat
	url = https://gitlab.com/famedly/fluffychat.git
[submodule "docker-lobsters"]
	path = lobsters/docker-lobsters
	url = git@github.com:vegan-buddies/docker-lobsters.git
[submodule "matrix-rust-sdk"]
	path = third-party/matrix-rust-sdk
	url = git@github.com:vegan-buddies/matrix-rust-sdk.git
[submodule "ruma"]
	path = third-party/ruma
	url = git@github.com:vegan-buddies/ruma.git
